/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: linear-gradient(135deg, #333333, #2A0944, #9C27B0); /* More gray on the left */
}

.grid-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%; /* Covers the right half of the screen */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: 5;
  pointer-events: none; /* Ensures the grid doesn’t interfere with interactions */
  
  /* Enhanced pinkish glow */
  backdrop-filter: blur(5px);
  box-shadow: inset 0px 0px 40px rgba(255, 20, 147, 0.7); /* Increase spread and intensity */
}
.text-glow {
  text-shadow: 0 0 2px rgba(155, 19, 92, 0.8), 0 0 15px rgba(255, 20, 147, 0.6);
}
